.watch-section{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    margin:100px 0;
}
.watch-section-details{
    display:flex;
    flex-direction:column;
    width:50%;
}
.watch-section-details h1{
    font-size:50px;
    margin:20px 0;
    text-align:center;
}
.watch-section-details p{
    font-size:20px;
    margin:20px 0;
    text-align:center;
}
.watch-section-image{
    width:50%;
    padding:30px;
}
.watch-section-image img{
    width:100%;
}




@media(max-width:1000px){
    .watch-section{
        flex-direction:column;
    }
    .watch-section-details{
       width:100%;
       padding-top:50px;
    }
    .watch-section-image{
        width:100%;
    }
    .watch-section-image img{
        width:100%;
    }
}